@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-h1 {
        @apply font-bold text-[40px];
        line-height: 58px;
    }

    .text-h2 {
        @apply font-bold text-[32px];
        line-height: 46px;
    }

    .text-h3 {
        @apply font-bold text-[24px];
        line-height: 35px;
    }

    .text-h4 {
        @apply font-bold text-[20px];
        line-height: 140%;
    }

    .text-title {
        @apply font-bold text-[16px];
        line-height: 23px;
    }

    .text-body {
        @apply font-normal text-[16px];
        line-height: 23px;
    }

    .text-body2 {
        @apply font-normal text-[14px];
        line-height: 20px;
    }

    .text-caption {
        @apply font-normal text-[12px];
        line-height: 17px;
    }
}